.details-row1 {
    min-height: 80px;
    background: white;
}
.details-row2 {
    min-height: 80px;
}
.details-row3 {
    min-height: 200px;
    padding-right: 50px;
    text-align: center;
    align-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.details-col1 {
   margin-left: 80px;
}
.details-col2{
    text-align: left;
    border: 1px solid grey;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.details-col3 {
    padding: 20px 20px 20px 20px;
    border: 1px solid grey;
}
.details-nav-btn {
    border-radius: 100px;
    border-color: 1px solid grey;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
}
.details-logo-col1 {
    display: block;
    max-width: 100%;
    height: auto;
    /* vertical-align: middle; */
    font-weight: 400;
    color: #0067db;
    font-family: Lato,Roboto,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 10px;
}

.details-dropdown1 {
    margin-top: 25px;
    margin-left: 10px;
    align-content: right;
    text-align: center;
    vertical-align: middle;
}
.details-dropdown2 {
    margin-top: 25px;
    margin-left: 10px;
    align-content: right;
    text-align: center;
    vertical-align: middle;
}
.details-logo-col2 {
    margin-top: 10px;
    margin-left: 10px;
    align-content: right;
    text-align: right;
    vertical-align: middle;
}
.details-info-col1 {
    font-size: 16px;
    height: 56px;
    padding: 15px 16px;
    display: block;
    line-height: 1.5rem;
    color: #323f4d;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    padding-left: 100px;
    padding-right: 50px;
    max-width: 30%;
    height: 56px;
    margin-right: 10px;
    margin-left: 10px;
}

.details-info-col2 {
    font-size: 20px;
    height: 56px;
    display: block;
    line-height: 1.5rem;
    color: #323f4d;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    text-align: center;
    max-width: 20%;
    height: 56px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
}

.details-info-col3 {
    font-size: 20px;
    height: 56px;
    display: block;
    line-height: 1.5rem;
    color: #323f4d;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    text-align: center;
    max-width: 20%;
    height: 56px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    
}
.details-info-col4 {
    font-size: 16px;
    height: 56px;
    display: block;
    line-height: 1.5rem;
    color: #323f4d;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    text-align: center;
    max-width: 20%;
    height: 56px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-left: 20px;
    
}
.details-innerrow1 {
     margin-left: 10px;
}
.details-innerrow2 {
    text-align: left;
    padding-top: 70px;
}
.details-innerrow3 {
    margin-top: 100px;
    background: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 55px;
    width: 100%;
}
.details-add-left {
    float: left;
}
.details-add-right {
    float: right;
    font-size: 16px;
}
.details-style1 {
    font-size: 20px;
}
.details-col2 h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #323f4d;
}
.details-search-btn {
    width: 60%;
    border-radius: 100px;
    height: 50px;
    font-size: 16px;
}
.details-main-container {
    width: 100%;
    height: 500px;
    margin:auto;
    padding: 10px;
    float: center;
}
.details-main-left {
    float: left;
    width: 60%;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.details-main-right {
    float : right;
    text-align: left;
    width: 33%;
    overflow: hidden;
    margin-top: 50px;
}   
.details-main-header1 {
    margin-top: 50px;
    font-size: 14px;
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    color: #5e6d77;
    border-bottom: 1px solid  #5e6d77;
    padding-bottom: 10px;
    padding-left: 50px;
}
.details-sec-div h2 {
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    color: #323f4d;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
}
.details-third-div {
    margin-top:30px;
}
.details-third-row {
    margin-left: 15px;
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    color: #323f4d;
}
.details-desc p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 16px;
    line-height: 1.5rem;
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    color: #5e6d77;
    font-size: 16px;
}
.details-desc {
    margin-top: 40px;
    margin-bottom:30px;
}

p { 
    font-size: 16px;
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    color: #5e6d77;
}

.general-div {
    padding-bottom : 30px;
} 

.details-date {
    width: 100%;
    height: 120px;
    float: center;
    border: 1px solid  #d6d2d3;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.details-left {
    margin-top: 20px;
    float: left;
    width: 45%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.details-right {
    margin-top: 20px;
    float : right;
    width: 45%;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.details-label1 {
    font-size: 16px;
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    color: #5e6d77;
    margin-left: 10px;
}
.details-label2 {
    font-size: 16px;
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    color: #5e6d77;
    margin-left: 10px;
}
.details-date .form-control {
    display: block;
    width: 90%;
    color: #0067db;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d6d2d3;
    box-shadow: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 70px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.details-right-h1 {
    font-size: 30px;
}
.details-review {
    font-size: 16px;
}
.guest-details .form-control {
    display: block;
    width: 96%;
    color: #0067db;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d6d2d3;
    box-shadow: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 80px;
    margin-bottom: 30px;
}
.details-btn {
    width: 70%;
    color: #fff;
    position: relative;
    border-radius: 100px;
    background-color: #0067db;
    border-color: #0067db;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    margin-left: 60px;
    font-size: 16px;
    margin-top: 20px;
}

.pagination-details {
    vertical-align: middle;
    text-align: center;
    margin-left: 500px;
    margin-top: 50px;
    font-size: 20px;
}

.question-div {
    font-size: 16px;
    color: #0067db;
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    padding-top: 25px;
    text-align: center;
}