.signupemail-row {
    min-height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
}
.signupemail-image1 {
    margin-left:50px;
}
.signupemail-header h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: "Roboto",Arial,sans-serif;
    color: #353e44;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.signupemail-header h4 {
    margin-right: 3px;
    font-size: 18px!important;
    color: #666;
    text-align: center;
    font-family: "Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 20px;
}
.signupemail-first-div {
    background: #f7f7f7;
}
.signupemail-form .form-control {
    padding-right: 40px;
    display: block;
    width: 90%;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d6d2d3;
    box-shadow: none;
    border-radius: 4px;
    font-size: 14px;
    height: 35px;
    line-height: 50px;
}
.signupemail-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 50%;
    padding: 10px 15px 15px 15px;
    border: 1px solid grey;
}
.signupemail-entire-thing {

}
.signupemail-ad-left {
    float: left;
    width: 45%;
    padding-bottom: 10px;
}
.signupemail-ad-right {
    float: right;
    width: 48%;
    padding-right: 30px;
}
.signupemail-btn {
    width: 100%;
    max-width: 318px;
    display: block;
    margin: 0 auto;
    padding: 9px 31px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
    background-color: #ff8a00;
    color: #fff;
    text-shadow: none;
    border-color: #ff8a00;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
}
.signupemail-line-div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #999;
    font-style: italic;
    font-size: 13px;
}
.signupemail-line-div:before,
.signupemail-line-div:after {
    background-color: #999;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 48%;
}
.signupemail-fb {
    margin-bottom:10px;
}
.signupemail-google {
    margin-bottom:7px;
}
.signupemail-msg1-div {
    font-family: "Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 20px;
    color: #353e44;
    padding-top: 7px;
    font-size: 11px;
    text-align: center;
    margin-bottom: 15px;
}
.signupemail-lastmsg-div {
    line-height: 1.5em;
    margin-bottom: 40px;
    font-size: 8pt;
    text-align: center;
    font-size: 10px;
}
.signupemail-form{ text-align:center;}

#register, #login {
    width: 300px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 100px auto;
  }
  
  form label, form input {
    display: block;
    //margin-bottom: 10px;
    width: 90%
  }
  
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
  
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }